
<div class="shadow-sm p-3 m-5 bg-white">
  <form>
    <div class="form-group">
      <label for="firstName">First Name</label>
      <input type="text" class="form-control" id="firstName" aria-describedby="firstName" placeholder="Enter firstname">
    </div>

    <div class="form-group">
      <label for="lastName">Last Name</label>
      <input type="text" class="form-control" id="lastName" aria-describedby="firstName" placeholder="Enter lastname">
    </div>
    <div class="form-group">
      <label for="email">Email address</label>
      <input type="email" class="form-control" id="email" aria-describedby="email" placeholder="Enter email">
    </div>

    <div class="form-group">
      <label for="roleName">Role</label>
      <input type="text" class="form-control" id="roleName" name="roleName" aria-describedby="role" placeholder="Enter role">
    </div>

    <div class="form-group">
      <label for="imageLink">Image Link</label>
      <input type="text" class="form-control" id="imageLink" aria-describedby="imageLink" placeholder="Enter image link">
    </div>

    <div class="form-group">
      <label for="password">Password</label>
      <input type="password" class="form-control" id="password" placeholder="Password">
    </div>

    <button type="submit" class="btn btn-primary">Save</button>
  </form>
</div>
